body {
    margin: 0;
}

header {
    background-color: white;
    height: max-content;
}

header h1 {
    margin: 0 auto;
    padding: 8px;
    width: max-content;
}

.container {
    width: 60%;
    margin: auto;
    border-style: solid;
    border-top: 0;
    padding: 8px;
}

/* LOGIN INFO */

.login_info {
    margin-bottom: 8px;
    width: max-content;
    margin: auto;
    margin-top: 10px;
}

.login_info a {
    text-decoration: none;
    color: initial;
}

.login_info div {
    display: inline-block;
    border-style: solid;
    padding: 4px;
}

.login_info h3 {
    margin: 0;
}

hr {
    border-style: double;
}

/* FORM DETAIL */

.form_detail {
    text-decoration: none;
    color: initial;
}

.form_detail div {
    border-radius: 20px;
    border-style: dashed;
    padding: 10px;
    margin-bottom: 6px;
}

.add_form h2{
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

.form_detail:hover div {
    background-color: grey;
}


/* LOGIN FORM */

.form-box {
    text-align: center;
    border-radius: 5px;
    border-style: dashed;
    margin-top: 8px;
    padding: 6px;
}

.form-box h2{
    width: auto;
    margin: auto;
    margin-bottom: 8px;

}

.form-box form {
    width: max-content;
    margin: auto;
}
    
.form-box form input{
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.form-box form input[type=submit] {
    border-style: double;
    background-color: grey;
}

/* SUMMARY */

.success {
    color: green;
}

.fail {
    color: red;
}

/* FORM ACTIONS NAVIGATORS */

.nav-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-form a {
    text-decoration: none;
    color: initial;
}

.nav-form a div {
    border-style: solid;
    padding: 4px;
}

.nav-form h3 {
    margin: 0;
}

.nav-form .form-actions {
    display: flex;
    gap: 10px;
}

/* VIEW FORM DETAIL */
table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* DELETE BUTTON */
.delete-button {
    text-decoration: none;
    color: red;
}

.delete-button div {
    display: inline-block;
    border-style: solid;
    padding: 4px;
}

.delete-button h3 {
    margin: 0;
}

/* RESPONSIVE SETTINGS */

@media screen and (max-width: 1148px) {
    .container {
        width: 85%;
    }
}

@media screen and (max-width: 810px) {
    .container {
        width: 95%;
    }
    .nav-form a .text{
        display: none;
    }
}